
:root {

    --primary-1: rgb(0, 255, 0);
    --primary-2: rgb(0, 175, 0);

    --secondary-1: rgb(10, 10, 10);
    --secondary-2: rgb(20, 20, 20);
    --secondary-3: rgb(30, 30, 30);

    --detail-1: rgb(255, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-1);
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-1);
}

#desktop {
    display: grid;
    grid-template: 
    'sidebar topbar'
    'sidebar content'
    'sidebar bottombar';
}

#desktop > #sidebar {
    grid-area: sidebar;
    width: calc(20vw - 1px);
    height: 100vh;
    border-right: 1px solid var(--primary-2);
    background-color: var(--secondary-2);
}

#desktop > #sidebar > #searchBar {
    width: calc(100% - 1px);
}

#desktop > #sidebar > #searchBar > input[type="text"] {
    width: calc(100% - 1px);
    border: 0;
    outline: none;
    color: var(--primary-1);
    font-size: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--secondary-1);
}


#desktop > #topbar {
    grid-area: topbar;
    width: 80vw;
    height: 10vh;
    padding-left: 2vw;
    background-color: var(--secondary-2);
}






#desktop > #content {
    grid-area: content;
    width: 80vw;
    height: calc(80vh - 2px);
    border-top: 1px solid var(--primary-2);
    border-bottom: 1px solid var(--primary-2);
    background-color: var(--secondary-1);
}







#desktop > #bottombar {
    grid-area: bottombar;
    width: 800vw;
    height: 10vh;
    background-color: var(--secondary-2);
}

#desktop > #bottombar > input[type="text"] {
    margin: 3vh;
    padding: 1vh;
    border: 0;
    font-size: 2vh;
    width: 65vw;
    border-right: 1px solid var(--primary-2);
    background-color: var(--secondary-1);
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-1);
    outline: none;
}

#desktop > #bottombar > button {
    margin: 3vh;
    padding: 1vh;
    border: 1px solid var(--primary-2);
    font-size: 2vh;
    background-color: var(--secondary-1);
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-1);
    outline: none;
    transition: background-color 100ms;
}#desktop > #bottombar > button:hover {
    background-color: var(--primary-2);
    cursor: pointer;
}
